/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

@media screen and (max-width: 991px) {
    .mobile-logo {
        display: inline-block;
        height: 70px !important;
        margin-top: 5px;
    }
    .standard-logo {
        display: none;
    }
}


